/*:root {}

.claro {}

.oscuro {}*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.ajustes {
    width: 700px;
    padding: 10px;
    border-radius: 10px;
    background-color: #666;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    position: fixed;
    transition: all 0.3s;
    z-index: 400;
}

.ajustes #gear {
    height: 40px;
    width: 40px;
    stroke: #fff;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-right: 40px;
    cursor: pointer;
    transition: all .5s;
}

.ajustes:hover #gear {
    transform: rotateZ(90deg);
}

.ajustes .modo {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ajustes .clave {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ajustes .modo label {
    color: #fff;
    margin: 5px;
}

.ajustes .modo .switch {
    border-radius: 15px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    position: relative;
}

.ajustes .modo .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.ajustes .modo .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.ajustes .modo .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: #444;
  -webkit-transition: .4s;
  transition: .4s;
}

.ajustes .modo input:checked + .slider {
  background-color: #ccc;
}

.ajustes .modo input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.ajustes .modo .slider.round {
  border-radius: 34px;
}

.ajustes .modo .slider.round:before {
  border-radius: 50%;
}

.ajustes .clave svg {
    stroke: #fff;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.ajustes .clave #errorClave {
    stroke: #e65f62;
    position: absolute;
    left: -40px;
    height: 40px;
    opacity: 0;
    transition: all 0.3s;
}

.ajustes .clave .claveMode {
    position: absolute;
    right: 10px;
    height: 25px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #666;
    border-radius: 100%;
}

.ajustes .clave .claveMode:hover {
    position: absolute;
    right: 10px;
    stroke: #ccc;
    height: 25px;
    cursor: pointer;
}

.ajustes .clave .claveMode.Off {
    position: absolute;
    right: -10px;
    height: 0px;
    cursor: default;
    z-index: -1;
    opacity: 0;
}

.clave input {
    border-radius: 5px;
    height: 30px;
    width: 300px;
    border: 2px solid #fff;
    background-color: transparent;
    outline: none;
    color: #fff;
    padding: 2px;
    transition: all 0.3s;
    user-select:text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

.clave input:focus {
    border: 2px solid #fff;
}

.clave .filled {
    top: -10px;
    color: #fff;
    font-size: 14px;
}

.clave label {
    z-index: 0;
    position: absolute;
    left: 10px;
    top: 5px;
    transition: all 0.3s;
    color: #fff5;
    cursor:text;
}

.clave input:focus+label {
    top: -10px;
    color: #fff;
    font-size: 14px;
}

.clave label::before {
    content: '';
    height: 5px;
    background: #666;
    position: absolute;
    left: -10%;
    top: 10px;
    width: 120%;
    z-index: -1;
}

.ajustesAvanzados {
    height: 200px;
    width: 675px;
    background-color: #444;
    border-radius: 10px;
    position: fixed;
    top: 50px;
    z-index: 300;
    transition: all 0.1s;
}

.ajustesAvanzados.Off {
    height: 10px;
}

.ajustesAvanzados.Off .contenido {
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
}

.ajustesAvanzados .contenido {
    padding: 10px;
    height: 100%;
    transition: all 0.1s;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.ajustesAvanzados input, select {
    background-color: #fff;
    border-radius: 3px;
    border: 0px;
    outline: none;
    width: 100%;
    user-select:text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

.ajustesAvanzados input.slider {
    width: 85%;
}

.ajustesAvanzados .capas {
    display: flex;
    justify-content: space-between;
}

.ajustesAvanzados input.sliderNumber {
    width: 10%;
}

.ajustesAvanzados .contenido label {
    color: #fff;
    position: absolute;
    left: 25px;
    top: -10px;
    z-index: 0;
}

.ajustesAvanzados .contenido label::before {
    content: '';
    position: absolute;
    background-color: #444;
    height: 3px;
    left: -10px;
    top: 9px;
    width: calc(100% + 20px);
    z-index: -1;
}

.ajustesAvanzados .contenido span.beta {
    color: #fff;
    font-weight: bold;
}

.ajustesAvanzados .contenido .columna {
    padding: 15px;
    border: 1px solid #fff5;
    margin: 5px;
    border-radius: 5px;
    position: relative;
}

.ajustesAvanzados .fila {
    display: flex;
    flex-direction: row;
    min-height: 55px;
}

.ajustesAvanzados .fila .columna {
    width: 100%;
    position: relative;
    align-items: center;
}

.texto {
    position: relative;
    top: 100px;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.texto .textInput {
    border-radius: 5px;
    width: 600px;
    height: 150px;
    resize: none;
    border: 0px;
    outline: none;
    padding: 10px;
    user-select:text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    margin: 10px 0px;
}

.textInput::placeholder {
    opacity: 0;
}

.texto svg {
    stroke: #fff;
    margin: 5px;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.texto #copy {
    border: 0px;
    background-color: #444;
    border-radius: 5px;
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 12.5px;
    right: -17.5px;
}

.texto #copy svg {
    height: 35px;
    width: 35px;
    stroke: #fff;
    transition: all 0.3s;
}

.texto #copy:hover svg {
    height: 40px;
    width: 40px;
    transform: rotateZ(-15deg);
}

span.peligro {
    color: #f00;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.texto div {
    position: relative;
    margin: 10px;
}

.texto label {
    position: absolute;
    left: 10px;
    top: -10px;
    color: #fff
}

.textInput:disabled {
    background-color: #fff1;
    border: 1px solid #fff;
}

.textInput:disabled::placeholder {
    color: #fff;
    opacity: 1;
}