.content .slider {
    margin: 0px 0px;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    gap: 20px;
    position: relative;
    scroll-behavior: smooth;
    background-color: #050505;
}

.slider > div.card {
    height: 250px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 10px;
    scroll-snap-align:start;
    background: #334756;
    position: relative;
}

.slider > div.margen {
    height: 250px;
    min-width: 50px;
    max-width: 50px;
    border-radius: 10px;
    scroll-snap-align:start;
    background: transparent;
    position: relative;
}

.slider .card h1 {
    color: #ff4c29;
    margin: 20px 20px;
}

.slider .card p {
    color: #fff;
    margin: 10px 20px;
}

.slider .card hr {
    width: 90%;
    margin: 5%;
}

.slider .card button {
    position: absolute;
    width: 360px;
    height: 40px;
    margin: 20px 20px;
    bottom: 0px;
    background-color: transparent;
    color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
    opacity: .3;
}

.slider .card:hover button {
    color: #fff;
    border-color: #fff;
}

.slider div.card button:hover {
    opacity: 1;
    color: #fff;
}

.navegadores > div {
    position: absolute;
    top: 0px;
    height: 290px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(12.5px);
    cursor: pointer;
}

.navegadores > div svg {
    stroke: #f5f5f5;
    border-radius: 100%;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    height: 30px;
    width: 30px;
    padding: 1px;
    transition: all 0.3s;
}

.navegadores .izquierda {
    left: 0px;
}

.navegadores .dereita {
    right: 0px;
}

div.avisolegal {
    background-image: url("https://gacarbla.github.io/media/jpg/002.jpg")
}