.claro {
    --inicio-fondo-imagen: url(../media/jpg/background_inicio_claro.jpg);
    --inicio-color-principal: #f3fe39;
}

.oscuro {
    --inicio-fondo-imagen: url(../media/jpg/background_inicio_oscuro.jpg);
    --inicio-color-principal: #ff4c29;
}


#inicio {
    background-image: var(--inicio-fondo-imagen);
    height: 100vh;
    min-height: 731px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

#inicio p {
    position: absolute;
    right: 20px;
    color: var(--inicio-color-principal);
    font-size: 150px;
    top: 150px;
    font-weight: bold;
    animation: fadeInDown .9s ease;
}

#inicio div {
    width: 830px;
    display: flex;
    position: absolute;
    right: 20px;
    top: 450px;
    height: 55px;
    flex-direction: row;
}

#inicio button {
    width: 100%;
    margin: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height:55px;
    justify-content: center;
    gap: 20px;
    cursor:pointer;
}

#inicio button svg {
    fill: none;
    width: 30px;
    height: 30px;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

#inicio button.sin svg {
    stroke: var(--inicio-color-principal);
}

#inicio button.sin {
    background-color: #0005;
    border-radius: 10px;
    border: 4px solid var(--inicio-color-principal);
    color: var(--inicio-color-principal);
    font-weight: bold;
    text-transform: uppercase;
    animation: fadeInDown 1.5s ease;
}


#inicio button.con svg {
    stroke: #000;
    border: 3px solid #000;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    padding: 2.5px;
}

#inicio button.con {
    background-color: var(--inicio-color-principal);
    border-radius: 10px;
    border: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    animation: fadeInDown 1.2s ease;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown2 {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    33% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown3 {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    66% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1023px ) {

    #inicio p {
        position: absolute;
        right: 0px;
        font-size: 120px;
        top: 180px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        animation: fadeInDown .9s ease;
    }
    
    #inicio div {
        width: 100%;
        padding: 0px;
        display: flex;
        position: absolute;
        justify-content: center;
        right: 0px;
        top: 425px;
        height: 130px;
        flex-direction: row;
    }
    
    #inicio button {
        width: 335px;
        margin: 10px;
        font-size: 18px;
        display: flex;
        align-items: center;
        flex-direction: row;
        height:55px;
        justify-content: center;
        gap: 20px;
        cursor:pointer;
    }
    
    #inicio button svg {
        fill: none;
        width: 25px;
        height: 25px;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
    }
}

@media only screen and (max-width: 799px) {
    #inicio {
        height: 100vh;
    }

    #inicio p {
        position: absolute;
        right: 0px;
        font-size: 90px;
        top: 200px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        animation: fadeInDown .9s ease;
    }
    
    #inicio div {
        width: 100%;
        padding: 0px 10%;
        display: flex;
        position: absolute;
        right: 0px;
        top: 400px;
        height: 130px;
        flex-direction: column-reverse;
    }
    
    #inicio button {
        width: 100%;
        margin: 10px;
        font-size: 18px;
        display: flex;
        align-items: center;
        flex-direction: row;
        height:55px;
        justify-content: center;
        gap: 20px;
        cursor:pointer;
    }
    
    #inicio button svg {
        fill: none;
        width: 25px;
        height: 25px;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
    }
}

@media only screen and (max-width: 480px) {
    #inicio p {
        font-size: 60px;
    }
    
    #inicio div {
        top: 325px;
    }
}