:root {

  /* FUENTES */
  --fuente-predeterminada: Arial;

  /* TAMAÑOS DE FUENTE */
  --tamaño-h1: 54px;
  --tamaño-h2: 48px;
  --tamaño-h3: 40px;
  --tamaño-h4: 34px;
  --tamaño-text: 22px;

}

.light {

  /* COLOR DE TEXTO */
  --texto-normal: #333333ff;

  /* COLOR DE FONDO */
  --fondo-body-predeterminado: #ddddddff;
  --fondo-body-alternativo: #949dffff;
  --fondo-body-contraste: #1a1a1e;
  --fondo-hf-predeterminado: #ddddddff;
  --fondo-hf-alternativo: #949dffff;

  /* COLORES DE BOTONES */

  /*Deshabilitado*/
  --btn-disabled: #59595980;
  --btn-disabled-hover: #26262680;

  /*Primarios*/
  --btn-primary-normal: #5fa6b9ff;
  --btn-primary-hover: #3e7d8eff;
  --btn-primary-click: #366d7cff;

  /*Secundarios*/
  --btn-secondary-normal: #809399ff;
  --btn-secondary-hover: #5b6c71ff;
  --btn-secondary-click: #4f5e63ff;

  /*Exitosos*/
  --btn-success-normal: #47d345ff;
  --btn-success-hover: #29a527ff;
  --btn-success-click: #249122ff;

  /*Peligro*/
  --btn-danger-normal: #eb2d30ff;
  --btn-danger-hover: #bb1114ff;
  --btn-danger-click: #a30f12ff;

  /*Advertencia*/
  --btn-warning-normal: #fdf11cff;
  --btn-warning-hover: #F7CA18;
  --btn-warning-click: #b1a802ff;

  /*Texto*/
  --btn-text-primary: #2B293Cff;
  --btn-text-secondary: #2B293Cff;
  --btn-text-success: #2B293Cff;
  --btn-text-danger: #ffffffff;
  --btn-text-warning: #2B293Cff;
  --btn-text-primary-hover: #000000ff;
  --btn-text-secondary-hover: #000000ff;
  --btn-text-success-hover: #000000ff;
  --btn-text-danger-hover: #ffffffff;
  --btn-text-warning-hover: #000000ff;
  --btn-text-disabled: #ffffff80;

  /* COLORES FONDO MENÚS */
  --menu-principal-background: hsl(247, 18%, 20%);
  --menu-principal-text: #e7dfddff;
  --menu-submenu-background: hsl(247, 18%, 30%);
  --menu-submenu-text: #000;
  --menu-hover-background: #000;
  --menu-hover-text: #000;

  /* OTROS */
  --color-001: #d9d9d9ff;
  /* Flecha menú superior PC */

}

.dark {

  /* COLOR DE TEXTO */
  --texto-normal: #e7dfddff;
  --texto-resaltado: #a239caff;

  /* COLOR DE FONDO */
  --fondo-body-predeterminado: #1a1a1e;
  --fondo-body-alternativo: #2d3034ff;
  --fondo-body-contraste: #ddddddff;
  --fondo-hf-predeterminado: #040307ff;
  --fondo-hf-alternativo: #23272aff;

  /* COLORES DE BOTONES */

  /*Deshabilitado*/
  --btn-disabled: #59595980;
  --btn-disabled-hover: #26262680;

  /*Primarios*/
  --btn-primary-normal: #5fa6b9ff;
  --btn-primary-hover: #3e7d8eff;
  --btn-primary-click: #366d7cff;

  /*Secundarios*/
  --btn-secondary-normal: #809399ff;
  --btn-secondary-hover: #5b6c71ff;
  --btn-secondary-click: #4f5e63ff;

  /*Exitosos*/
  --btn-success-normal: #47d345ff;
  --btn-success-hover: #29a527ff;
  --btn-success-click: #249122ff;

  /*Peligro*/
  --btn-danger-normal: #eb2d30ff;
  --btn-danger-hover: #bb1114ff;
  --btn-danger-click: #a30f12ff;

  /*Advertencia*/
  --btn-warning-normal: #fdf11cff;
  --btn-warning-hover: #F7CA18;
  --btn-warning-click: #b1a802ff;

  /*Texto*/
  --btn-text-primary: #2B293Cff;
  --btn-text-secondary: #2B293Cff;
  --btn-text-success: #2B293Cff;
  --btn-text-danger: #ffffffff;
  --btn-text-warning: #2B293Cff;
  --btn-text-primary-hover: #000000ff;
  --btn-text-secondary-hover: #000000ff;
  --btn-text-success-hover: #000000ff;
  --btn-text-danger-hover: #ffffffff;
  --btn-text-warning-hover: #000000ff;
  --btn-text-disabled: #ffffff80;

  /* COLORES FONDO MENÚS */
  --menu-principal-background: hsl(247, 18%, 20%);
  --menu-principal-text: #e7dfddff;
  --menu-submenu-background: hsl(247, 18%, 30%);
  --menu-submenu-text: #000;
  --menu-hover-background: #000;
  --menu-hover-text: #000;

  /* OTROS */
  --color-001: #d9d9d9ff;
  /* Flecha menú superior PC */
}



/* LOADER */
.loaderEnabled{
  position: absolute;
  background-color: #000000ee;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
}
.loaderEnabled img {
  width: 10%;
  height: auto;
  position: absolute;
  left: 45%;
}
.loaderUnabled {
  position: absolute;
  background-color: #000000ee;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  visibility: hidden;
}
.loadingBody {
  overflow: hidden;
}











/* FONDOS BASE */
body {
  background-color: var(--fondo-body-predeterminado);
  cursor: default;
}

header {
  background-color: var(--fondo-hf-predeterminado);
  cursor: default;
  z-index: 100;
}

footer {
  background-color: var(--fondo-hf-predeterminado);
  cursor: default;
}

header img {
  background-color: var(--color-001);
  cursor: default;
}


/* TAMAÑOS Y COLOCACIÓN BASE */
.loaded header {
  animation: subirmenu 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s both;
}

.loaded header img {
  animation: girar90-antihorario 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s both;
}

header:hover {
  animation: bajarmenu 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;
}

header:hover img {
  animation: girar90-horario 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;
}

header {
  height: 120px;
  position: fixed;
  left: 1.5%;
  top: -90px;
  width: 97%;
  border-radius: 5px;
  display: flex;
}

header .content {
  position: relative;
  top: 10px;
  margin-left: 5%;
}

header img {
  height: 18px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  border-radius: 100%;
}

body {
  margin-top: 92px;
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  margin-top: 50px;
  height: 30px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--texto-normal);
  opacity: 30%;
  font-family: var(--fuente-predeterminada);
}

header .name {
  font-size: var(--tamaño-h4);
  font-family: var(--fuente-predeterminada);
  font-weight: bold;
}

header .name a{
  text-decoration: none;
  color: var(--texto-normal);
  cursor: pointer
}


/* DISEÑO TEXTOS GENERALES */


/* DISEÑO BOTONES GENERALES */
button {
  font-family: var(--fuente-predeterminada);
  border-radius: 4px;
  border: 0px;
  padding: 10px 15px 10px 15px;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
  text-transform: uppercase;
}

button.primary {
	color: #fff;
	background-color: var(--fondo-body-predeterminado);
	cursor: pointer;
	display: block;
	position: relative;
	border: 3px solid var(--btn-primary-normal);
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
button.primary:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}
button.primary:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
button.primary:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: var(--btn-primary-normal);;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button.secondary {
	color: #fff;
	background-color: var(--fondo-body-predeterminado);
	cursor: pointer;
	display: block;
	position: relative;
	border: 3px solid var(--btn-secondary-normal);
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
button.secondary:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}
button.secondary:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
button.secondary:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: var(--btn-secondary-normal);;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button.success {
	color: #fff;
	background-color: var(--fondo-body-predeterminado);
	cursor: pointer;
	display: block;
	position: relative;
	border: 3px solid var(--btn-success-normal);
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
button.success:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}
button.success:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
button.success:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: var(--btn-success-normal);;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button.danger {
	color: #fff;
	background-color: var(--fondo-body-predeterminado);
	cursor: pointer;
	display: block;
	position: relative;
	border: 3px solid var(--btn-danger-normal);
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
button.danger:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}
button.danger:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
button.danger:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: var(--btn-danger-normal);;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button.warning {
	color: #fff;
	background-color: var(--fondo-body-predeterminado);
	cursor: pointer;
	display: block;
	position: relative;
	border: 3px solid var(--btn-warning-normal);
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
button.warning:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}
button.warning:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
button.warning:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: var(--btn-warning-normal);
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}



/* BOTONES DESACTIVADOS */
button:disabled {
	color: #ffffff77;
	background-color: #00000077;
	cursor: default;
	display: block;
	position: relative;
	border: 2px solid #000;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
button:disabled:hover {
	color: #ffffff77 !important;
	background-color: #00000077;
	text-shadow: none;
}
button:disabled:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
button:disabled:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #ffffff77 !important;
	background: #000;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}












/* DISEÑO MENÚS GENERALES */
header nav {
  height: 50%;
  position: relative;
  left: 5%;
  top: 50px;
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-size:0;
}

header nav ul {
  display: inline-flex;
  width: 300%;
  height: 30px;
  justify-content: left;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: inherit;
  height: 30px;
  font-size: 18px;
  justify-content: center;
  text-align: center;
}

header nav li {
  display: inline-block;
  height: 30px;
  width: 150px;
  padding: 5px 10px;
  background-color: var(--menu-principal-background);
  border: 0px;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
  color: var(--menu-principal-text);
  font-family: var(--fuente-predeterminada);
}

header nav li:hover {
  background-color: #fff;
  color: #000;
}

header nav a p {
  text-transform: uppercase;
  position: relative;
  height: 30px;
  bottom: 50%;
}

/* BOTONES MODO OSCURO - CLARO */
.container-btn-mode {
  position: absolute;
  background-color: #fff;
  padding: 3px;
  border-radius: 20px;
  top: 30%;
  right: 30px;
  cursor: pointer;
  z-index: 2;
  font-size: 0;
}

.btn-mode {
  display: inline-block;
  width: 50px;
  height: 30px;
  border: 4px solid black;
  transition: background-color .5s;
}

.pagem .btn-mode {
  width: 125px;
  height: 75px;
  border: 5px solid black;
}

.btn-mode i {
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}

.pagem .btn-mode i {
  font-size: 41px;
  line-height: 74px;
}

.btn-mode.sun {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
}

.btn-mode.moon {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.active {
  background-color: black;
  color: #ffcd5c !important;
}





.inicio {
  display: flex;
  background-color: #00000055;
  border-radius: 15px;
  margin-top: 150px;
  margin-bottom: 150px;
  max-height: 30rem;
}

.inicio .columna {
  height: 100%;
  margin: auto;
  color: var(--texto-normal);
  font-family: var(--fuente-predeterminada);
  font-size: 4rem;
  align-items: left;
  font-weight: bold;
  padding: 15px;
}

.inicio .columna p {
  margin: 0px;
}

.inicio .columna img {
  height: 20rem;
  width: auto;
  margin: 2.5rem;
}

.inicio .columna .buttons {
  display: flex;
}

.inicio .columna .buttons button {
  width: 50%;
}



.proyectos {
  background: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.proyectos .header {
  display: flex;
  font-size: 3rem;
  color: var(--texto-normal);
  font-family: var(--fuente-predeterminada);
  font-weight: bold;
}

.proyectos .cuadricula {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.proyectos .cuadricula .caja {
  display: flex;
  flex-direction: column;
  background-color: var(--fondo-body-contraste);
  border-radius: 5px;
}

.proyectos .cuadricula .caja:hover {
  box-shadow: 0 0 20px -5px #ffffffbb;
}

.proyectos .title {
  font-family: var(--fuente-predeterminada);
  font-size: 1.5rem;
  color: var(--fondo-body-predeterminado);
  text-align: center;
  font-weight: bold;
  width: 75%;
  height: 100%;
  align-self: center;
  margin-bottom: 0px;
}

.proyectos .description {
  width: 65%;
  height: 100%;
  font-family: var(--fuente-predeterminada);
  font-size: 1rem;
  color: var(--fondo-body-predeterminado);
  align-self: center;
  text-align: center;
}

.proyectos .caja button {
	color: #000;
	transition: all 0.3s;
	position: relative;
  background-color: transparent;
  width: 75%;
  align-self: center;
  margin-bottom: 15px;
}
.proyectos .caja button span {
	transition: all 0.3s;
}
.proyectos .caja button::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(0,0,0,0.5);
	border-bottom-color: rgba(0,0,0,0.5);
	transform: scale(0.1, 1);
}
.proyectos .caja button:hover span {
	letter-spacing: 2px;
  background-color: transparent;
}
.proyectos .caja button:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.proyectos .caja button::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(0,0,0,0.1);
}
.proyectos .caja button:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}


.proyectos .caja button:disabled {
	color: #a00000aa;
	transition: all 0.3s;
	position: relative;
  background-color: transparent;
  width: 75%;
  align-self: center;
  margin-bottom: 15px;
  border: 0px;
}
.proyectos .caja button:disabled::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
  background-color: #ff000030;
  color:#000;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,0,0,0.75);
	border-bottom-color: rgba(255,0,0,0.75);
	transform: scale(0.1, 1);
}
.proyectos .caja button:disabled:hover span {
	letter-spacing: 2px;
  background-color: transparent;
  color:#000
}
.proyectos .caja button:disabled:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.proyectos .caja button:disabled::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(0,0,0,0.1);
}
.proyectos .caja button:disabled:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}


.aboutMe {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}
.aboutMe .header {
  display: flex;
  flex-direction: column;
  color: var(--texto-normal);
  font-family: var(--fuente-predeterminada);
  font-weight: bold;
  align-items: center;
}
.aboutMe .header .title {
  font-size: 3rem;
  color: var(--texto-normal);
  font-family: var(--fuente-predeterminada);
  font-weight: bold;
}
.aboutMe .header .description {
  font-size: 1.5rem;
  color: var(--texto-normal);
  font-family: var(--fuente-predeterminada);
  font-weight: bold;
  width: 100%;
  margin: 0%;
  text-align: justify;
  text-justify:inter-word; 
}

.lenguajes {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.lenguajes .caja {
  box-shadow: 0 0 7px 0px #fff;
  background-color: var(--fondo-body-contraste);
  padding: 15px;
  border-radius: 10px;
  font-family: var(--fuente-predeterminada);
}

.lenguajes .caja .title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}


.lenguajes .caja .description {
  width: 150px;
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
}

.lenguajes .caja .barra {
  border-radius: 5px;
  background-color: #00000055;
  display: flex;
}

.lenguajes .caja .progreso {
  bottom: 5%;
}

.lenguajes .caja hr {
  border-radius: 5px;
  margin: 0%;
  height: 10px;
  align-self: flex-start;
  background-color: rgb(0, 127, 212);
}

.lenguajes .caja .level {
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
  font-size: 0.9rem;
}

.lenguajes img {
  width: 150px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  border-radius: 5px;
}









/* DEV MENU */
.devMenu {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  z-index: 999;
}

.devMenu .menu {
  width: 18%;
  left: 41%;
  position: fixed;
  bottom: 7.5%;
  background-color: var(--fondo-body-alternativo);
  border-radius: 10px;
}

.devMenu button {
  height: auto;
  width: 100%;
  padding: 0px;
  padding-left:15px;
  margin: 0px;
  text-align: start;
  background-color: transparent;
  color: var(--fondo-body-contraste);
}

.devMenu hr {
  margin: 0px;
}







/* ANIMACIONES */

@-webkit-keyframes subirmenu {
  0% {
    top: -5px
  }

  100% {
    top: -90px
  }
}

@keyframes subirmenu {
  0% {
    top: -5px
  }

  100% {
    top: -90px
  }
}

@-webkit-keyframes bajarmenu {
  0% {
    top: 90px
  }

  100% {
    top: -5px
  }
}

@keyframes bajarmenu {
  0% {
    top: -90px
  }

  100% {
    top: -5px
  }
}

@-webkit-keyframes girar90-horario {
  0% {
    transform: rotate(0deg);
    bottom: 10px;
  }

  100% {
    transform: rotate(180deg);
    bottom: 2px;
  }
}

@keyframes girar90-horario {
  0% {
    transform: rotate(0deg);
    bottom: 10px;
  }

  100% {
    transform: rotate(180deg);
    bottom: 2px;
  }
}

@-webkit-keyframes girar90-antihorario {
  0% {
    transform: rotate(180deg);
    bottom: 2px;
  }

  100% {
    transform: rotate(0deg);
    bottom: 10px;
  }
}

@keyframes girar90-antihorario {
  0% {
    transform: rotate(180deg);
    bottom: 2px;
  }

  100% {
    transform: rotate(0deg);
    bottom: 10px;
  }
}