body {
    background-color: #333333;
    height: 100%;
    width: 100vw;
    font-family: Arial;
    cursor: default;
    display: flex;
    flex-direction: row;
}

.navegador {
    background-color: #5a5a5a;
    width: 20%;
    min-width: 225px;
    height: 100vh;
}

.navegador ul {
    font-weight: bold;
    background-color: transparent;
    width: 90%;
    list-style: none;
    margin: auto;
    margin-top: 40px;
}

.navegador li {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    margin: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.navegador li .option{
    display: flex;
    flex: 2;
}

.navegador li .suboption{
    display: flex;
    flex: 2;
}

.navegador li:hover {
    color: rgb(35, 248, 242);
    box-shadow: 0px 0px 5px #ffffffaa;
}

.navegador li ul li:hover {
    color: #fff;
    box-shadow: 0px 0px 5px #ffffffaa;
}

.navegador li ul {
    z-index: 200;
    margin-top: 10px;
    width: 100%;
}

.navegador li ul li {
    background-color: rgb(68, 68, 68);
}

.columna {
    width: auto;
    max-width: 750px;
}

.navegador li .current {
    cursor: default;
    color: #aaa;
}

.navegador p {
    margin-left: 15px;
    animation: all 0.3s;
}

.navegador li .current:hover {
    color: #aaa;
    box-shadow: none;
}

@media only screen and (max-width: 1000px) {
    .columna {
        margin-left: 0px
    }

    .navegador {
        position: absolute;
        visibility: hidden;
    }
}