 .u-section-1 {
  background-image: none;
  min-height: 647px;
}

.u-section-1 .u-group-1 {
  width: 1005px;
  min-height: 325px;
  margin: 216px auto 60px calc(((100% - 1140px) / 2) + 68px);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 210px;
  height: 297px;
  margin: 14px 61px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: -206px 638px 0 61px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px auto 0 61px;
  padding: 6px 44px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0 221px;
  padding: 6px 34px 6px 33px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 757px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -220px;
    margin-right: 600px;
    margin-left: 29px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 29px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 190px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -206px;
    margin-right: 385px;
    margin-left: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 24px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 185px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 595px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 163px;
  }

  .u-section-1 .u-image-1 {
    width: 93px;
    height: 132px;
    margin-top: 16px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -109px;
    margin-right: 208px;
    margin-left: 21px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-left: 21px;
    padding-right: 38px;
    padding-left: 37px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: -35px;
    margin-left: 156px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 289px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 54px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
    margin-left: auto;
    padding-left: 128px;
    padding-right: 128px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 15px;
    margin-left: auto;
    padding-right: 113px;
    padding-left: 112px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 818px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-2 .u-group-1 {
  margin-top: 0;
  margin-bottom: 60px;
  min-height: 551px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 28px 0 3px;
}

.u-section-2 .u-tabs-1 {
  min-height: 520px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 23px 886px 0 0;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-2 .u-table-1 {
  width: 456px;
  height: 139px;
  margin: 30px auto 0 23px;
}

.u-section-2 .u-table-body-1 {
  text-transform: uppercase;
}

.u-section-2 .u-table-cell-1 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-2 {
  text-transform: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-3 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-4 {
  text-transform: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-5 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-6 {
  text-transform: none;
  font-size: 1rem;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 0.75rem;
  font-weight: normal;
  margin: -82px auto 0 354px;
  padding: 2px 22px 3px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 7px 30px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 23px 886px 0 0;
}

.u-section-2 .u-line-3 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-line-4 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-2 .u-table-2 {
  width: 456px;
  height: 139px;
  margin: 30px auto 0 23px;
}

.u-section-2 .u-table-body-2 {
  text-transform: uppercase;
}

.u-section-2 .u-table-cell-7 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-8 {
  text-transform: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-9 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-10 {
  text-transform: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-11 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-12 {
  text-transform: none;
  font-size: 1rem;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 0.75rem;
  font-weight: normal;
  margin: -82px auto 57px 354px;
  padding: 2px 22px 3px;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 7px 30px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 23px 886px 0 0;
}

.u-section-2 .u-line-5 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-9 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-line-6 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-2 .u-table-3 {
  width: 456px;
  height: 139px;
  margin: 30px auto 0 23px;
}

.u-section-2 .u-table-body-3 {
  text-transform: uppercase;
}

.u-section-2 .u-table-cell-13 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-14 {
  text-transform: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-15 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-16 {
  text-transform: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-17 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-18 {
  text-transform: none;
  font-size: 1rem;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 7px 30px;
}

.u-section-2 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 23px 886px 0 0;
}

.u-section-2 .u-line-7 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-12 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-13 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-line-8 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-2 .u-table-4 {
  width: 456px;
  height: 139px;
  margin: 30px auto 0 23px;
}

.u-section-2 .u-table-body-4 {
  text-transform: uppercase;
}

.u-section-2 .u-table-cell-19 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-20 {
  text-transform: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-21 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-22 {
  text-transform: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-23 {
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-24 {
  text-transform: none;
  font-size: 1rem;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 0.75rem;
  font-weight: normal;
  margin: -82px auto 0 364px;
  padding: 2px 23px 3px 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    min-height: 542px;
    height: auto;
  }

  .u-section-2 .u-tab-link-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-tab-link-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-tab-link-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-tab-link-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 686px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 361px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 686px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 0;
    margin-left: 361px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 686px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-right: 686px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-line-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 101px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 14px;
    min-height: 565px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 635px;
    margin-top: 20px;
    margin-bottom: -70px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 466px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 181px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 466px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 181px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-right: 466px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 30px;
    margin-right: 466px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 181px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 26px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 520px;
    margin-bottom: 0;
    width: 100%;
  }

  .u-section-2 .u-tab-link-1 {
    font-size: 0.875rem;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-tab-link-2 {
    font-size: 0.875rem;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-tab-link-3 {
    font-size: 0.875rem;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-tab-link-4 {
    font-size: 0.875rem;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 375px;
    margin-left: 2px;
  }

  .u-section-2 .u-line-1 {
    transform-origin: left center 0px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 40px;
    margin-left: 2px;
  }

  .u-section-2 .u-line-2 {
    transform-origin: left center 0px;
    width: 522px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-table-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-table-cell-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-4 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-6 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0 7px 28px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    margin-top: 30px;
    margin-right: 376px;
    margin-left: 3px;
  }

  .u-section-2 .u-line-3 {
    transform-origin: left center 0px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 40px;
    margin-left: 3px;
  }

  .u-section-2 .u-line-4 {
    transform-origin: left center 0px;
    width: 524px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-table-2 {
    width: 521px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-table-cell-8 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-10 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-12 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -81px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
    margin-right: 373px;
  }

  .u-section-2 .u-line-5 {
    transform-origin: left center 0px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 40px;
  }

  .u-section-2 .u-line-6 {
    transform-origin: left center 0px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-table-3 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-table-cell-14 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-16 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-18 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.125rem;
    margin-right: 373px;
  }

  .u-section-2 .u-line-7 {
    transform-origin: left center 0px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-12 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 40px;
  }

  .u-section-2 .u-line-8 {
    transform-origin: left center 0px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-table-4 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-table-cell-20 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-22 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-24 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 59px;
    min-height: 700px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 640px;
    width: auto;
  }

  .u-section-2 .u-tab-link-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-tab-link-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-tab-link-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-tab-link-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 30px;
    margin-right: 203px;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-table-cell-1 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-2 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-3 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-4 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-5 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-6 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-3 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 30px;
  }

  .u-section-2 .u-line-4 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-table-2 {
    width: 324px;
    margin-left: auto;
  }

  .u-section-2 .u-table-cell-7 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-8 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-9 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-10 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-11 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-12 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 30px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }

  .u-section-2 .u-text-10 {
    margin-top: 30px;
  }

  .u-section-2 .u-table-cell-13 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-14 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-15 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-16 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-17 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-18 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    width: auto;
  }

  .u-section-2 .u-text-13 {
    margin-top: 30px;
  }

  .u-section-2 .u-table-cell-19 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-20 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-21 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-22 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-23 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-cell-24 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 637px;
}

.u-section-3 .u-list-1 {
  width: 271px;
  margin: 60px auto 0 43px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 327px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  width: 84px;
  height: 84px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  width: 84px;
  height: 84px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  width: 84px;
  height: 84px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-image-4 {
  width: 84px;
  height: 84px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: -257px auto 0 374px;
}

.u-section-3 .u-line-1 {
  width: 724px;
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px auto 0 374px;
}

.u-section-3 .u-text-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-size: 1rem;
  margin: 10px 43px 140px 374px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 344px;
  }

  .u-section-3 .u-line-1 {
    transform-origin: left center 0px;
    width: 580px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    font-size: 0.875rem;
    margin-right: 16px;
    margin-left: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-3 .u-list-1 {
    width: 552px;
    margin-top: 359px;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 155px;
    grid-auto-columns: calc(25% - 7.5px);
  }

  .u-section-3 .u-text-5 {
    margin-top: -336px;
    margin-left: auto;
  }

  .u-section-3 .u-line-1 {
    width: 626px;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 289px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 165px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -393px;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.75rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 114px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-image-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-image-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-image-3 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-image-4 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -367px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 81px;
}

.u-section-4 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 9px 235px 0 auto;
  padding: 4px 33px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -32px 0 0 auto;
  padding: 4px 33px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: -28px 882px 21px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-top: 13px;
    margin-left: 482px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 715px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 702px;
    margin-bottom: 17px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 88px;
  }

  .u-section-4 .u-btn-1 {
    align-self: center;
    margin-right: 217px;
    margin-left: auto;
    padding-right: 22px;
    padding-left: 21px;
  }

  .u-section-4 .u-btn-2 {
    align-self: center;
    margin-left: auto;
    padding-right: 21px;
    padding-left: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 482px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 64px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 7px;
    margin-right: 157px;
    padding-right: 13px;
    padding-left: 12px;
  }

  .u-section-4 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: -27px;
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
    margin-top: -27px;
    margin-right: 324px;
    margin-bottom: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 116px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 46px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: 216px;
    margin: -65px auto 60px;
  }
}