@import url('https://fonts.cdnfonts.com/css/whitney-2');

* {
    font-family: whitney;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.select {
    user-select: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
}

body {
    background-color: #222;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 60px;
}

h1 {
    color: #fff;
}

body > p {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #f00;
}

.folders {
    display: grid;
    gap: 10px;
     --grid-layout-gap: 10px;
     --grid-column-count: 4;
     --grid-item--min-width: 350px;
     --gap-count: calc(var(--grid-column-count) - 1);
     --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
     --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
     grid-gap: var(--grid-layout-gap);
}

.folder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #0002;
    border-radius: 5px;
    padding: 0px 10px;
    min-width: 300px;
    overflow: hidden;
    color: #fff
}

.folder:hover {
    background-color: #0004;
}

.folder img {
    width: 30px;
    height: 30px;
}

a, a:link, a:active, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline 2px #0063a5;
}

header {
    background: black;
    max-height: 50px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 20px;
    color: #fff
}

header ul {
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

header li::before {
    content: "/";
    margin: 10px;
}

a {
    text-decoration: none;
}
a:link {
    color: #0076c5;
    text-decoration: none;
}
a:visited {
    color: #3ab0ff;
    text-decoration: none;
}
a:hover {
    color: #0077c7;
    text-decoration: underline 2px #0063a5;
}
a:active {
    color: #0076c5;
    text-decoration: none;
}