@import url('https://fonts.cdnfonts.com/css/whitney-2');

body {
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
    font-family: whitney;
    overflow-x: hidden;
}

div.sections {
    background-color: #1f1f1f;
    color: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    border-radius: 20px;
    background-color: #fff1;
    scroll-snap-align: center;
    padding: 50px;
    min-height: calc(90vh - 100px);
    width: calc(100vw - 200px);
    margin: 100px 50px;
    box-shadow: 0px 0px 5px #0005;
}

#difraccion {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#difraccion > div {
    width: calc(40vw - 50px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#difraccion > div > div {
    scroll-snap-align: center;
    height: 70vh;
    border-radius: 10px;
    background-color: #0005;
}

#difraccion > div > div svg{
    width: 500px;
    height: 400px;
    position: relative;
    left: 50px;
    top: 50px;
}

#difraccion > div > div table {
    font-family: Arial;
    width: 90%;
    position: relative;
    left: 5%;
    bottom: 25px;
    background-color: #000;
    border-radius: 5px;
    padding: 10px;
}

#difraccion > div > div table tr:nth-child(1) {
    font-size: 12px;
}

#difraccion > div > div table tr:nth-child(2) {
    font-size: 18px;
}