@import url('https://fonts.cdnfonts.com/css/whitney-2');

:root {
    --claro: #424549;
    --oscuro: #1e2124;
}

.blanco {
    --body-background: #c0c0c0; 

    --text-label-color: #000;
    --logsbutton-background: #f0f0f0;
    --logsbutton-complementary: #000;
    --input-outline: #00b3a7;
    --copytext-back: #c0c0c0;
    --copytext-text: #000;
    
    --input-background: #f0f0f0;
}

.negro {
    --body-background: #141414;

    --text-label-color: #fff;
    --logsbutton-complementary: #fff;
    --logsbutton-background: #272727;

    --input-background: #272727;
    --input-text: #fff;
    --input-outline: #00b3a7;
    --copytext-back: #141414;
    --copytext-text: #fff;
}

.rosa {
    --body-background: #ffbfcf;

    --text-label-color: #000;
    --logsbutton-complementary: #000;
    --logsbutton-background: #FF91AF;

    --input-background: #ffffff;
    --input-text: #000;
    --input-outline: #00b3a7;
    --copytext-back: #ffbfcf;
    --copytext-text: #000;

}

.azul {
    --body-background: #000435;

    --text-label-color: #fff;
    --logsbutton-complementary: #fff;
    --logsbutton-background: #272727;

    --input-background: #bbc0ff;
    --input-text: #000;
    --input-outline: #fff;
    --copytext-back: #000435;
    --copytext-text: #fff;
}

.amarillo {
    --body-background: #ccbc46;

    --text-label-color: #000;
    --logsbutton-complementary: #ccbc46;
    --logsbutton-background: #000;

    --input-background: #fff;
    --input-text: #000;
    --input-outline: #00b3a7;
    --copytext-back: #ccbc46;
    --copytext-text: #000;
}

.verde {
    --body-background: #a9ffc4;

    --text-label-color: #000;
    --logsbutton-complementary: #fff;
    --logsbutton-background: #001b08;

    --input-background: #001b08;
    --input-text: #fff;
    --input-outline: #fff;
    --copytext-back: #00b3a7;
    --copytext-text: #000;
}

.rojo {
    --body-background: #5d090a;

    --text-label-color: #fff;
    --logsbutton-complementary: #5d090a;
    --logsbutton-background: #fff;

    --input-background: #fff;
    --input-text: #000;
    --input-outline: #a9ffc4;
    --copytext-back: #5d090a;
    --copytext-text: #fff;
}

.content {
    padding: 20px;
    background-color: var(--body-background);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

div.time {
    margin: 50px;
    display: flex;
    flex-direction: row;
    height: 300px;
    align-self: center;
}

div.select {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    height: 50px;
    padding-top: 22.5px;
    position: relative;
    left: 0px;
    top: 0px;
}

div.select label {
    width: 100%;
}

div.select label p {
    color: var(--text-label-color);
    margin: 0px;
    position: relative;
    left: 15px;
    top: -5px;
}

div.select input,
div.select textarea,
select {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: var(--input-background);
    border: none;
    outline: non;
    color: var(--input-text);
    font-size: 16px;
    border-radius: 5px;
    resize: none;
}

div.select input:focus,
div.select textarea:focus,
select:focus {
    outline: 1px solid var(--input-outline);
}

div.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    left: 20px;
    top: -25px;
    position: relative;
    height: 100%;
    transform: scale(.8);
}

div.preview div.userprofile {
    position: relative;
    height: 6.8vw;
}

div.userprofile div.foto {
    position: relative;
    top: 0px;
}

div.userprofile div.name {
    position: relative;
    top: -2.5px;
}

div.foto>img {
    position: absolute;
    top: 0.8vw;
    height: 6.8vw;
    width: 6.8vw;
    border-radius: 100%;
}

div.name>p {
    color: #F4F4F4;
    font-weight: bold;
    font-size: 2.4vw;
    margin: 0px;
    top: 0.8vw;
    left: -10px;
    position: relative;
}

div.preview {
    font-family: whitney;
    display: flex;
    padding: 20px 15px;
    padding-bottom: 6vw;
    top: 20px;
    left: 2.5px;
    position: relative;
    background-color: var(--claro);
    border-radius: 20px;
    filter: drop-shadow(4px 4px 12px #000);
    border-radius: 20px;
}

div.preview>div.text {
    position: relative;
    left: 0;
    top: 4vw;
    width: calc( 100% - 85px);
}

div.preview>div.text p {
    position: absolute;
    color: #F4F4F4;
    font-size: 1.75vw;
    line-height: 2.5vw;
    margin: 0px;
}

div.preview>div.text p>span.timestamp {
    padding: 2px;
    background-color: var(--oscuro);
    border-radius: 5px;
    padding: 5px;
}

div.preview>div.text p>span.bold {
    font-weight: bold;
}

div.preview>div.text p>span.italic {
    font-style: italic;
}

div.content p.section {
    color: var(--text-label-color);
    font-size: 25px;
    opacity: .5;
    margin: 20px;
    align-self: center;
}

div.content hr {
    width: 90%;
    color: #fff5;
    box-shadow: 0px 0px 2px #fff5;
}

div.emoji {
    margin: 50px;
    display: flex;
    flex-direction: column;
    height: 300px;
    align-self: center;
    gap: 20px;
    width: calc( 60% - 40px);
}

div.emoji div.entry {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

div.emoji .resultado {
    display: flex;
    flex-direction: row;
    height: 200px;
}

div.emoji img {
    align-self: center;
    width: 180px;
    height: 180px;
}

div.emoji input {
    background-color: var(--input-background);
    border: none;
    border-radius: 7.5px 0px 0px 7.5px;
    outline: none;
    color: #fff;
    height: 50px;
    font-size: 19px;
    width: 100%;
    padding: 10px;
}

div.emoji button {
    padding: 10px 20px;
    color: #fff;
    background-color: #5865f2;
    border-radius: 0px 7.5px 7.5px 0px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    cursor: pointer;
}

div.emoji button:disabled {
    opacity: .5;
    cursor: not-allowed;
}


@media only screen and (min-width: 1399px) {
    div.userprofile div.name {
        position: relative;
        top: -2.5px;
    }
    
    div.foto>img {
        position: absolute;
        top: 10px;
        height: 94px;
        width: 94px;
        border-radius: 100%;
    }
    
    div.name>p {
        color: #F4F4F4;
        font-weight: bold;
        font-size: 35px;
        margin: 0px;
        top: 10px;
        position: relative;
    }
    
    div.preview {
        display: flex;
        padding: 20px 15px;
        padding-bottom: 70px;
        top: 20px;
        position: relative;
        background-color: var(--claro);
        border-radius: 20px;
        filter: drop-shadow(4px 4px 12px #000);
        border-radius: 20px;
    }
    
    div.preview>div.text {
        position: relative;
        top: 55px;
        width: calc( 100% - 85px);
    }
    
    div.preview>div.text p {
        position: absolute;
        color: #F4F4F4;
        font-size: 25px;
        line-height: 30px;
        margin: 0px;
    }
}


@media only screen and (max-width: 799px) {
    div.time {
        flex-direction: column;
        height: 75vmax;
    }
    div.result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        top: 20vmin;
        position: relative;
        height: 100%;
        transform: scale(1);
    }

    div.userprofile div.name {
        position: relative;
        top: -2.5px;
    }
    
    div.foto>img {
        position: absolute;
        top: 0.8vw;
        height: 6.8vw;
        width: 6.8vw;
        border-radius: 100%;
    }
    
    div.name>p {
        color: #F4F4F4;
        font-weight: bold;
        font-size: 2.4vw;
        margin: 0px;
        top: 0.8vw;
        left: 80px;
        position: relative;
    }
    
    div.preview {
        padding-bottom: 6vw;
        height: 30vw;
    }
    
    div.preview>div.text {
        width: calc( 100% - 5vw);
    }
    
    div.preview>div.text p {
        font-size: 3vw;
        line-height: 4.7vw;
    }
    div .emoji {
        width: 80vw;
        left: 0px;
    }
}