@font-face {
    font-family: 'quicksandlight';
    src: 
        url('../fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
        url('../fonts/quicksand-variablefont_wght-webfont.woff') format('woff');
}

:root {
    --l-fondo: #fff;
    --l-text: rgb(60, 60, 60);
    --l-textHover: #0055dd;
    --l-textDisabled: #666;
    --l-textError: #ed4245;
    --l-button: rgb(211, 211, 211);
    --l-buttonHover: rgb(200, 200, 200);
    --l-buttonDisabled: rgb(184, 184, 184);
    --l-duttonError: #ff9fa0;
    --d-fondo: #1b1b1b;
    --d-text: rgb(212, 212, 212);
    --d-textHover: #5865f2;
    --d-textDisabled: #999;
    --d-textError: #ed4245;
    --d-button: #444;
    --d-buttonHover: #272727;
    --d-buttonDisabled: #222;
    --d-duttonError: #ff9fa0;
    --font-titles: 'Century Gothic';
    --font-default: Arial;
    --font-codetext: 'Calibri';
    --font-menu: 'Calibri'
}

.light, body {
    line-height: normal;
    background-color: var(--l-fondo);
}
.dark, body {
    background-color: var(--d-fondo);
}
.light, .head {
    color: var(--l-textHover)
}
.dark, .head {
    color: var(--d-textHover)
}
.light, .description {
    color: var(--l-text);
}
.dark, .description {
    color: var(--d-text);
}
.light ul.menu li a {
    color: var(--l-text);
    background: var(--l-button)
}
.dark ul.menu li a {
    color: var(--d-text);
    background: var(--d-button);
}
.light ul.menu li li a {
    color: var(--l-text);
    background-color: var(--l-button);
}
.dark ul.menu li li a {
    color: var(--d-text);
    background-color: var(--d-button);
}
.light ul.menu li a:hover {
    background: var(--l-buttonHover);
    color: var(--l-textHover);
}
.dark ul.menu li a:hover {
    background: var(--d-buttonHover);
    color: var(--d-textHover);
}
.light ul.acordeon li a {
    color: var(--l-text);
    background: var(--l-button)
}
.dark ul.acordeon li a {
    color: var(--d-text);
    background: var(--d-button);
}
.light ul.acordeon li li a {
    color: var(--l-text);
    background-color: var(--l-button);
}
.dark ul.acordeon li li a {
    color: var(--d-text);
    background-color: var(--d-button);
}
.light ul.acordeon li a:hover {
    background: var(--l-buttonHover);
    color: var(--l-textHover);
}
.dark ul.acordeon li a:hover {
    background: var(--d-buttonHover);
    color: var(--d-textHover);
}
.light .codebox {
    background-color: var(--l-button);
}
.dark .codebox {
    background-color: var(--d-button);
}
.light .copycode {
    background-color: var(--l-buttonHover)
}
.dark .copycode {
    background-color: var(--d-buttonHover)
}
.dark .textarea {
    background-color: var(--d-buttonHover);
    color: var(--d-text)
}
.light .document .card .title {
    color: var(--l-textHover)
}
.dark .document .card .title {
    color: var(--d-textHover)
}
.light .document .card .subtitle {
    color: var(--l-textError)
}
.dark .document .card .subtitle {
    color: var(--d-textError)
}


/* ---- Distribución de los divs ------------------------------------------------ */
.page {
    display: grid;
    grid-template-columns: 10% 25% 55% 10%;
    grid-template-rows: 0.5fr 1px 100% 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.pagem {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 15px 50px 20px 60px 100% 15px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.pagem .columnleft { grid-area: 2 / 2 / 4 / 3;line-height: normal}
.pagem .columnright { grid-area: 4 / 2 / 6 / 3;line-height: normal;margin-top: 150px;}
.pagem .column1 { grid-area: 2 / 2 / 3 / 3; }
.pagem .column2static { grid-area: 3 / 2 / 4 / 3; }
.pagem .column2 { grid-area: 3 / 2 / 4 / 3; ;-webkit-animation: borroso-entrada-izquierda 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;animation: borroso-entrada-izquierda 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;}
.pagem .column3 { grid-area: 4 / 2 / 5 / 3;-webkit-animation: borroso-entrada-abajo 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;animation: borroso-entrada-abajo 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;}
.pagem .column4 { grid-area: 5 / 2 / 6 / 3;-webkit-animation: borroso-entrada-abajo 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;animation: borroso-entrada-abajo 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;} 
.pagem .column3out { grid-area: 4 / 2 / 5 / 3;-webkit-animation: borroso-salida-arriba 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;animation: borroso-salida-arriba 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;}
.pagem .column4out { grid-area: 5 / 2 / 6 / 3;-webkit-animation: borroso-salida-arriba 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;animation: borroso-salida-arriba 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;} 

.page .columnleft{grid-area: 2 / 2 / 4 / 3;line-height: normal}
.page .columnright {grid-area: 2 / 3 / 4 / 4;line-height: normal}
.page .column1 {grid-area: 2 / 2 / 3 / 3;}
.page .column2static {grid-area: 3 / 2 / 4 / 3;}
.page .column2out {grid-area: 3 / 2 / 4 / 3;-webkit-animation: borroso-salida-izquierda 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.3s both;animation: borroso-salida-izquierda 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.3s both;} 
.page .column3 {grid-area: 2 / 3 / 3 / 4;-webkit-animation: borroso-entrada-abajo 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;animation: borroso-entrada-abajo 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;}
.page .column4 {grid-area: 3 / 3 / 4 / 4;-webkit-animation: borroso-entrada-abajo 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;animation: borroso-entrada-abajo 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;}
.page .column2 {grid-area: 3 / 2 / 4 / 3;-webkit-animation: borroso-entrada-izquierda 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;animation: borroso-entrada-izquierda 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;}
.page .column3out {grid-area: 2 / 3 / 3 / 4;-webkit-animation: borroso-salida-arriba 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;animation: borroso-salida-arriba 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;}
.page .column4out {grid-area: 3 / 3 / 4 / 4;-webkit-animation: borroso-salida-arriba 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;animation: borroso-salida-arriba 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;}
/* ------------------------------------------------------------------------------ */

.body {
    line-height: normal;
}

.head {
    font-family: var(--font-titles);
    font-size: 35px;
    line-height: 25pt;
    font-weight: 700;
    margin-bottom: 0px;
}
.description {
    line-height: normal;
    font-family: var(--font-titles);
    font-size: 18px;
    padding-top: 0px;
    line-height: 0px;
    font-weight: 700;
}
ul.menu,
ul.menu * {
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    padding-right: 15%;
    font-weight: bold;
    font-family: var(--font-menu);
}
ul.menu li {
    list-style: none;
}
ul.menu li a {
    display: block;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    box-sizing: border-box;
}
ul.menu li ul {
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: .3s all ease-in;
}
ul.menu li li a {
    padding: 10px 10px 10px 40px;
    font-size: 14px;
    border: 0;
    border-bottom: 0px;
    box-sizing: border-box;
}
ul.menu li li:last-child a {
    border-bottom: 0;
}
ul.menu li:hover ul {
    max-height: 300px;
    transition: .3s all ease-in;
}
ul.acordeon,
ul.acordeon * {
    margin: 0;
    border: 0;
    padding: 0px;
    font-weight: bold;
    font-family: var(--font-menu);
}
ul.acordeon {
    margin: 10px auto;
    list-style: none;
    width: 100%;
    font-size: 18px;
}
ul.acordeon li {
    list-style: none;
}
ul.acordeon li a {
    display: block;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    box-sizing: border-box;
}
ul.acordeon li ul {
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: .3s all ease-in;
}
ul.acordeon li li a {
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    border: 0;
    border-bottom: 0px;
    box-sizing: border-box;
}
ul.acordeon li li:last-child a {
    border-bottom: 0;
}
ul.acordeon li:hover ul {
    max-height: 300px;
    transition: .3s all ease-in;
}
.document {
    font-family: var(--font-default);
}
.document .card .codebox {
    margin-bottom: 7.5px;
    display: flex;
    border-radius: 5px;
}
.document .card .textarea {
    padding: 10px;
    font-family: var(--font-codetext);
    font-size: 18px;
    resize: vertical;
    border: 0px;
    border-radius: 5px;
    margin: 3px;
    width: 95%;
    height: 70px;
    max-height: 25rem;
    min-height: 50px;
    vertical-align: baseline;
}
.document .card .codebox .copycode {
    border-radius: 5px;
    height: auto;
    width: 50px;
    border: 0px;
    align-items: center;
    margin: 3px;
    margin-left: auto;
    cursor: pointer;
}
.document .card .codebox .copycode:hover{
    border-radius: 5px;
    box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.493);
}
.document .card .codebox .copycode:hover img{
    -webkit-animation: aumentar-boton-copy 0.1s cubic-bezier(0, 0, 0, 0) both;
        animation: aumentar-boton-copy 0.1s cubic-bezier(0, 0.0, 0, 0) both;
}
.document .card .title {
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: normal;
}
.document .card .subtitle {
    font-size: 25px;
    margin-bottom: 5px;
    line-height: normal;
}
.document .card .description {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: normal;
    font-weight: normal;
}
.document .card {
    padding: 35px;
}
.container-btn-mode{
    position: absolute;
    top:20px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    font-size:0;
}
.btn-mode{
    display: inline-block;
    width: 50px;
    height: 30px;
    border:2px solid black;
    transition: background-color .5s;
}
.pagem .btn-mode{
    width: 125px;
    height: 75px;
    border:5px solid black;
}
.btn-mode i {
    display: block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
}
.pagem .btn-mode i {
    font-size: 41px;
    line-height: 74px;
}
.btn-mode.sun{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid transparent;
}
.btn-mode.moon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.active{
    background-color:black;
    color:#ffcd5c !important;
}
.column3 .parent{
    font-family: var(--font-titles);
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.column3out .parent{
    font-family: var(--font-titles);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.column3 .title{
    font-family: var(--font-titles);
    margin: 0px;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}
.column3out .title{
    font-family: var(--font-titles);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}





/* ----------------------------------------------------------------- */
/*                            ANIMACIONES                            */
/* ----------------------------------------------------------------- */

@-webkit-keyframes aumentar-boton-copy {
    0% {
        height: 30px;
        width: 30px;
    }
    100% {
        height: 35px;
        width: 35px;
    }
}

@keyframes aumentar-boton-copy {
    0% {
        height: 30px;
        width: 30px;
    }
    100% {
        height: 35px;
        width: 35px;
    }
}

@-webkit-keyframes borroso-entrada-abajo {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
            filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        -webkit-filter: blur(0);
            filter: blur(0);
        opacity: 1;
    }
}

@keyframes borroso-entrada-abajo {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
            filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        -webkit-filter: blur(0);
            filter: blur(0);
        opacity: 1;
    }
}

@-webkit-keyframes borroso-entrada-izquierda {
    0% {
        -webkit-transform: translateX(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateX(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
            filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        -webkit-filter: blur(0);
            filter: blur(0);
        opacity: 1;
    }
}

@keyframes borroso-entrada-izquierda {
    0% {
        -webkit-transform: translateX(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateX(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
            filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        -webkit-filter: blur(0);
            filter: blur(0);
        opacity: 1;
    }
}

@-webkit-keyframes borroso-salida-arriba {
    0% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        -webkit-filter: blur(0);
            filter: blur(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
            filter: blur(40px);
        opacity: 0;
    }
}

@keyframes borroso-salida-arriba {
    0% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        -webkit-filter: blur(0);
            filter: blur(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
            filter: blur(40px);
        opacity: 0;
    }
}

@-webkit-keyframes borroso-salida-izquierda {
    0% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        -webkit-filter: blur(0);
            filter: blur(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px) scaleY(2) scaleX(0.2);
            transform: translateX(-1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
            filter: blur(40px);
        opacity: 0;
    }
}

@keyframes borroso-salida-izquierda {
    0% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        -webkit-filter: blur(0);
            filter: blur(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px) scaleY(2) scaleX(0.2);
            transform: translateX(-1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
            filter: blur(40px);
        opacity: 0;
    }
}
